.backwp{
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;

  }
  body{
    color: #98b6b1;
    text-align: center;
    font-family: "Merriweather", serif;
  }
  .top-container{
    background-color: #e4F9F5;
    padding-top: 100px;
    position: relative;
  }
  .top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}
  h1{
    color: #66bfbf;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: "sacramento",cursive;
  }
  h2{
    color:#66bfbf ;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
  }
  .pro{
    text-decoration:underline
  }
  .midcon{
    margin: 100px 0;
  }
  
  
  .profile img {
    width: 150px; /* Adjust to your preferred size */
    height: 150px; /* Ensure the width and height are equal for a circle */
    border-radius: 50%; /* Makes the image circular */
   
  }
  hr{
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }
  .parent{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1,1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
  }
  h3{
    color: #11999e;
    font-family: "Montserrat", sans-serif;
  }
  p{
    line-height: 2;
  }
  .btn{
    background-color: #11cdd4;
    background-image:linear-gradient(to border-bottom);
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

  }
  .bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
  }

  a{
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  .copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }